# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

serviceAccountKey.json

# Ignore backend environment variables
rsf_app_backup/backend/.env
# Ignore backend .env
/backend/.env


# Ignore functions directory (if deleted)
functions/

# Ignore general sensitive files
*.local
*.env
